body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.container{
    display: flex;
    justify-content: center;
    
}
.card{
    transition: 1.0s ease;
}

.card:hover{
    transform: scale(0.5);
}

img{
    border-radius: 25%;
    width: 250px;
    height: 220px;
    gap: 7rem;
}

.titulo{
    text-align: center;

}

